# Exercise 07

### Find the average mileage of each car making company

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("Automobile_data.csv")

In [7]:
av = df.groupby('company')['company','average-mileage'].mean()
av

C:\Users\Dip-PC\AppData\Local\Temp\ipykernel_22428\4094848708.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  av = df.groupby('company')['company','average-mileage'].mean()
C:\Users\Dip-PC\AppData\Local\Temp\ipykernel_22428\4094848708.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  av = df.groupby('company')['company','average-mileage'].mean()

               average-mileage
company
alfa-romero          20.333333
audi                 20.000000
bmw                  19.000000
chevrolet            41.000000
dodge                31.000000
honda                26.333333
isuzu                33.333333
jaguar               14.333333
mazda                28.000000
mercedes-benz        18.000000
mitsubishi           29.500000
nissan               31.400000
porsche              17.000000
toyota               28.714286
volkswagen           31.750000
volvo                23.000000