# Exercise 05

### Count total cars per company

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("Automobile_data.csv")

In [3]:
df['company'].value_counts()

toyota           7
bmw              6
mazda            5
nissan           5
audi             4
mercedes-benz    4
mitsubishi       4
volkswagen       4
alfa-romero      3
chevrolet        3
honda            3
isuzu            3
jaguar           3
porsche          3
dodge            2
volvo            2
Name: company, dtype: int64